<h1>Sign in</h1>

{{> flash}}

<p>Please select your preferred login service</p>

<div class="auth-services">
  <div>
    <a href="/auth/twitter">
      <img src="/twitter.png" alt="twitter" class="logo">
    </a>
  </div>
</div>

<a href="/">Cancel</a>
